<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.6.6/dist/quasar.prod.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="q-app">
        <q-date v-model="date" :options="pastDates"></q-date>
        <ul>
            <li v-for="planet in planets" :key="planet.name">{{ planet.name }}: {{ planet.age }}</li>
        </ul>
    </div>

    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.6.6/dist/quasar.umd.prod.js"></script>
    <script src="./main.js"></script>
</body>

</html>